/* 전체 요소 세로로 중앙 정렬 */
.ap-all-items-organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body:last-child {
    margin-bottom: 50vmin;
}
/* 구간 타이틀: 동행글 목록 */
.ap-welcome-title {
    color: #6358DC;
    font-size: 4.5vmin;
    display: flex;
    justify-content: center;
}
/* 본격적인 동행글 구간 시작: 동행글 1개 마다 회색박스 1개 차지. 회색박스 안에 동행신청글도 달림. */
.ap-gray-box {
    margin-top: 5vmin;
    background-color: #e1e1e1;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.3333vmin;
    border-radius: 0.7778vmin;
    flex-wrap: wrap;
}
/* 보라색 내용 부분*/
.ap-purple-box {
    background-color: #6358DC;
    width: 105vmin;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2.2222vmin;
    border-radius: 1vmin;
}
/* 보라색 안의 상단: 닉네임, 동행목표인원, 동행날짜시간 */
.ap-row1-in-purple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
.ap-nickname {
    background-color: white;
    width: 20%;
    height: 3.5vmin;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 2vmin;
    padding-top: 0.3vmin;
    border-radius: 0.5556vmin;
}
.ap-goal-number {
    background-color: white;
    width: 20%;
    height: 3.5vmin;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.7vmin;
    padding-top: 0.3vmin;
    border-radius: 0.5556vmin;
}
.ap-goal-num {
    width: 5vmin;
    margin-left: 2vmin;
    height: 3vmin;
}
.ap-set-date {
    background-color: white;
    width: 57%;
    height: 3.5vmin;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.7vmin;
    padding-top: 0.3vmin;
    border-radius: 0.5556vmin;
}
/* 보라색 안의 중앙: 동행글 본문 */
.ap-row2-in-purple {
    margin-top: 2.2222vmin;
    width: 100%;
    height: fit-content;
}
.ap-accompany-content {
    height: 30vmin;
    background-color: white;
    overflow: auto;
    padding: 2.2222vmin;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8vmin;
    border-radius: 0.5556vmin;
}
.ap-acc-content {
    width: 100%;
    height: 30vmin;
    color: #6358DC;
    font-size: 2vmin;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid;
}
.ap-content-header {
    color: #6358DC;
    font-weight: bold;
    font-size: 3vmin;
    margin-top: -0.5vmin;
    font-family:Arial, Helvetica, sans-serif;
}
/* 보라색 안의 하단: 동행글 최종수정일자, 입력완료 버튼 */
.ap-row3-in-purple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6667vmin;
    width: 100%;
    height: fit-content;
}
.ap-row3-in-purple > button {
    border: 0vmin solid;
    background-color: #FF9700;
    color: white;
    font-weight: bold;
    font-size: 1.7vmin;
    width: 11.1111vmin;
    height: 4.4444vmin;
    border-radius: 1.1111vmin;
}
.ap-row3-in-purple > button:hover {
    background-color: silver;
}
.ap-acc-posting-btn {
    margin-left: auto;
    margin-right: 1.1111vmin;
}
/* 동행글 구간 끝 */
