/* 웰컴세트 */
.welcome-set {
    margin-left: 60px;
}
.welcome-greeting {
    font-weight: bold;
}
.welcome-title {
    font-weight: bold;
    color: #6358DC;
}

/* 돋보기와 검색창 */
.searching-set {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 60px;
}
.title-show-exh {
    color: #6358DC;
    font-size: 40px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.magnifier-img {
    width: 40px;
    height: 40px;
    border: 5px solid #6358DC;
    border-radius: 10px;
    background-image: url("../img/magnifier.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    margin-left: auto;
}
.searching-bar {
    border: 5px solid #6358DC;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    margin-right: 100px;
    background-color: gainsboro;
}

/* 전시회 부분 */
.all-exhibitions-organizer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
    justify-content: flex-start;
    margin-top: -50px;
}
.exhibition-set {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.exhibition-img-box {
    width:350px;
    height:350px;
    overflow:hidden;
    margin:0 auto;
    border: 1px solid #6358DC;
    border-radius: 10px;
    cursor: pointer;
}
.exhibition-img {
    width:100%;
    height:100%;
    object-fit:cover;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.exhibition-info-box {
    color: #6358DC;
    font-weight: bold;
    width: 350px;
}
.exhibition-info-box > span {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.heart-set {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.heart {
    background-image: url('../img/empty-heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    margin-right: 7px;
    filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
}
.sign-set {
    display: flex;
    flex-direction: row;
}
.sign-set > * {
    margin-top: 10px;
    margin-right: 7px;
    width: 147px;
    color: white;
    font-weight: bold;
    background-color: #6358DC;
    border: 0px solid;
    border-radius: 10px;
}
.detail-button:hover {
    background-color: gray;
}
.reserve-button:hover {
    background-color: gray;
}
.new-exh-button {
    width: 20%;
    height: 7%;
    background-color: white;
    border: 0.5vmin solid #6358DC;
    border-radius: 2vmin;
    color: #6358DC;
    font-weight: bold;
    font-size: 3vmin;

    /* 스크롤 따라다니게 하는 코드 */
    position:fixed;
    display:inline-block;
    right:40%; /* 창에서 오른쪽 길이 */
    top:90%; /* 창에서 위에서 부터의 높이 */

    /* 모바일창 좁으면 반응형 */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 페이지 네이션 */
.pagination {
    margin-top: 10vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.page-item > button {
    border: 0.5vmin solid #6358DC;
    width: 25vmin;
    height: 5vmin;
    font-weight: bold;
    font-size: 1.8vmin;
    color: #6358DC;  
}
