/* 웰컴세트 */
.welcome-set {
    margin-left: 60px;
}
.welcome-greeting {
    font-weight: bold;
}
.welcome-title {
    font-weight: bold;
    color: #6358DC;
}

/* 돋보기와 검색창 */
.searching-set {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.magnifier-img {
    width: 40px;
    height: 40px;
    border: 5px solid #6358DC;
    border-radius: 10px;
    background-image: url("../img/magnifier.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.searching-bar {
    border: 5px solid #6358DC;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    margin-right: 100px;
    background-color: gainsboro;
}

/* 전시회 부분 */
.all-exhibitions-organizer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
    justify-content: flex-start;
}
.exhibition-set {
    margin-top: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.exhibition-img-box {
    width:350px;
    height:350px;
    overflow:hidden;
    margin:0 auto;
    border: 1px solid #6358DC;
    border-radius: 10px;
}
.exhibition-img {
    width:100%;
    height:100%;
    object-fit:cover;
}
.exhibition-info-box {
    color: #6358DC;
    font-weight: bold;
    width: 350px;
}
.exhibition-info-box > span {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.heart-set {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.heart {
    background-image: url('../img/empty-heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    margin-right: 7px;
    filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
}
.sign-set {
    display: flex;
    flex-direction: row;
}
.sign-set > * {
    margin-top: 10px;
    margin-right: 7px;
    width: 147px;
    color: white;
    font-weight: bold;
    background-color: #6358DC;
    border: 0px solid;
    border-radius: 10px;
}
.detail-button:hover {
    background-color: gray;
}
.reserve-button:hover {
    background-color: gray;
}