/* 전체 요소 세로로 중앙 정렬 */
.rp-all-items-organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body:last-child {
    margin-bottom: 50vmin;
}
/* 페이지 타이틀: 리뷰 작성하기 */
.rp-welcome-title {
    color: #6358DC;
    font-size: 4.5vmin;
    display: flex;
    justify-content: center;
}
/* 본격적인 카드 구간 (1개 회색박스 마다 리뷰 1개) */
.rp-gray-box {
    margin-top: 5vmin;
    background-color: #e1e1e1;
    width: fit-content;
    height: 60%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3.3333vmin;
    border-radius: 0.7778vmin;
}
/* 좌측 이미지 업로드 부분 */
.rp-img-box {
    width: 50vmin;
    height: 47vmin;
    overflow: hidden;
    border: 0vmin solid;
    border-top-left-radius: 1.1111vmin;
    border-bottom-left-radius: 1.1111vmin;
    background-color: white;
}
.rp-filebox {
    margin-top: 10vmin;
}
.rp-upload-name {
    width: 40vmin;
    padding-top: 23vmin;
    color: #6358DC;
    font-weight: bold;
    font-size: 2vmin;
    text-indent: 1.3vmin;
}
.rp-filebox .rp-upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #6358DC;
    width: 45%;
    color: #6358DC;
    margin-left: 2vmin;
}
.rp-filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #6358DC;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.rp-filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
/* 우측 보라색 내용 부분*/
.rp-purple-box {
    background-color: #6358DC;
    width: 55%;
    height: 47vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2vmin;
    border-top-right-radius: 1.1111vmin;
    border-bottom-right-radius: 1.1111vmin;
}
/* 보라색 안의 상단: 닉네임, 별점 */
.rp-row1-in-purple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
.rp-nickname-box {
    background-color: white;
    width: 30%;
    height: 4vmin;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 2vmin;
    padding-top: 0.3vmin;
    border-radius: 0.5556vmin;
}
.rp-stars {
    display: flex;
    flex-direction: row;
    width:30%;
    height:4vmin;
    margin-right: 5vmin;
}
.rp-star {
    width:100%;
    height:100%;
    object-fit:cover;
}
/* 보라색 안의 중앙: 리뷰 본문 */
.rp-row2-in-purple {
    margin-top: 2.2222vmin;
    width: 53.3333vmin;
    height: fit-content;
}
.rp-review-content {
    width: 100%;
    height: 30vmin;
    background-color: white;
    overflow: auto;
    padding: 2.2222vmin;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8vmin;
    border-radius: 0.5556vmin;
}
.rp-review-content::placeholder {
    color: #6358DC;
}
/* 보라색 안의 하단: 리뷰최종수정일자 ,수정 버튼, 삭제 버튼 */
.rp-row3-in-purple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6667vmin;
    width: 53.3333vmin;
    height: fit-content;
}
.rp-row3-in-purple > button {
    border: 0vmin solid;
    background-color: #FF9700;
    color: white;
    font-weight: bold;
    font-size: 1.7vmin;
    width: 11.1111vmin;
    height: 4.4444vmin;
    border-radius: 1.1111vmin;
}
.rp-row3-in-purple > button:hover {
    background-color: silver;
}
.rp-review-posting-btn {
    margin-left: auto;
    margin-right: 1.1111vmin;
}
