/* 전체 요소 세로로 중앙 정렬 */
.all-items-organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body:last-child {
    margin-bottom: 50vmin;
}
/* 구간 타이틀: 이 전시회 리뷰 목록 */
.welcome-title {
    color: #6358DC;
    font-size: 4.5vmin;
    display: flex;
    justify-content: center;
}
/* 본격적인 카드 구간 (1개 회색박스 마다 리뷰 1개) */
.gray-box {
    margin-top: 20vmin;
    background-color: silver;
    width: fit-content;
    height: 52.2222vmin;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3.3333vmin;
    border-radius: 0.7778vmin;
}
/* 좌측 이미지카드 부분 */
.img-box {
    width: 45%;
    height: 52.2222vmin;
    overflow:hidden;
    border: 0vmin solid;
    border-top-left-radius: 1.1111vmin;
    border-bottom-left-radius: 1.1111vmin;
}
.review-img {
    width:100%;
    height:100%;
    object-fit:cover;
}
/* 우측 보라색 내용 부분*/
.purple-box {
    background-color: #6358DC;
    width: 55%;
    height: 47.7778vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2.2222vmin;
    border-top-right-radius: 1.1111vmin;
    border-bottom-right-radius: 1.1111vmin;
}
/* 보라색 안의 상단: 닉네임, 별점 */
.row1-in-purple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 53.3333vmin;
    height: fit-content;
}
.nickname-box {
    background-color: white;
    width: 16.6667vmin;
    height: 3.3333vmin;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 2vmin;
    padding-top: 0.6667vmin;
    border-radius: 0.5556vmin;
}
.stars {
    display: flex;
    flex-direction: row;
    width:16.6667vmin;
    height:3.3333vmin;
}
.star {
    width:100%;
    height:100%;
    object-fit:cover;
}
/* 보라색 안의 중앙: 리뷰 본문 */
.row2-in-purple {
    margin-top: 2.2222vmin;
    width: 53.3333vmin;
    height: fit-content;
}
.review-content {
    width: 48.8889vmin;
    height: 30vmin;
    background-color: white;
    overflow: auto;
    padding: 2.2222vmin;
    color: black;
    font-weight: bold;
    font-size: 1.8vmin;
    border-radius: 0.5556vmin;
}
/* 보라색 안의 하단: 리뷰최종수정일자 ,수정 버튼, 삭제 버튼 */
.row3-in-purple {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6667vmin;
    width: 53.3333vmin;
    height: fit-content;
}
.date-info {
    margin-left: 1.6667vmin;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    color: white;
    font-weight: bold;
    font-size: 1.8vmin;
}
.row3-in-purple > button {
    border: 0vmin solid;
    background-color: #FF9700;
    color: white;
    font-weight: bold;
    font-size: 1.7vmin;
    width: 11.1111vmin;
    height: 4.4444vmin;
    border-radius: 1.1111vmin;
}
.row3-in-purple > button:hover {
    background-color: silver;
}
.review-update-btn {
    margin-left: auto;
    margin-right: 1.1111vmin;
}
