.all-items-organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 웰컴세트 */
.welcome-set {
    margin-top: 5vmin;
    margin-bottom: 10vmin;
}
.welcome-greeting {
    font-weight: bold;
}
.welcome-title {
    font-weight: bold;
    color: #6358DC;
}

/* 사용자 입력칸들 */
.update-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.writing-info {
    color: red;
    margin-left: 10px;
    margin-right: auto;
}
.update-inputs > * {
    margin-bottom: 30px;
}
.update-inputs > span {
    margin-top: -7px;
}
.update-inputs > input {
    border: 1vmin solid #6358DC;
    border-radius: 2vmin;
    color: #6358DC;
    width: 65vmin;
    height: 8vmin;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.update-inputs > input::placeholder {
    color: #6358DC;
    padding-left: 10px;
    font-weight: bold;
}
.update-bio {
    border: 1vmin solid #6358DC;
    border-radius: 2vmin;
    color: #6358DC;
    width: 65vmin;
    height: 40vmin;
}
.update-bio::placeholder {
    color: #6358DC;
    padding-left: 10px;
    font-weight: bold;
}
.profile-image-info {
    color: #6358DC;
    font-weight: bold;
    margin-bottom: 0px;
    float: left;
    margin-left: 10px;
    margin-right: auto;
}
.select-gender-info {
    color: #6358DC;
    font-weight: bold;
    margin-bottom: 0px;
    float: left;
    margin-left: 10px;
    margin-right: auto;
}
.select-gender {
    color: #6358DC;
    border: 1vmin solid #6358DC;
    border-radius: 2vmin;
    width: 65vmin;
    height: 8vmin;
}
.update-inputs > button {
    margin: 30px 0 200px 0;
    background-color: #6358DC;
    border: 0px solid;
    border-radius: 1vmin;
    width: 30vmin;
    height: 8vmin;
    color: white;
    font-weight: bold;
    font-size: 3vmin;
}
.update-inputs > button:hover {
    background-color: grey;
}
.update-inputs > .input-bio {
    height: 40vmin;
}