<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/accompany.css">
    <script type="module" src="../static/js/accompany.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="all-items-organizer">
        <h1 class="welcome-title">동행글 목록</h1>
        <!-- 동행글 한 개 시작 -->
        <div class="gray-box">
            <div class="purple-box">
                <div class="row1-in-purple">
                    <div class="nickname">
                        하얀솜사탕
                    </div>
                    <div class="goal-number">
                        목표인원 <span>7명</span>
                    </div>
                    <div class="set-date">
                        동행시간 <span>2023.06.19.13:30~2023.06.19.16:30</span>
                    </div>
                </div>
                <div class="row2-in-purple">
                    <div class="accompany-content"><p class="content-header">이런 분을 구합니다!</p>꼭 가고 싶은 곳이었는데 혼자 가려니까 영 부담스럽네요! 제가 운전할테니 같이 가실 분 찾아요 ^^ 저와 같은 워킹맘이셨으면 좋겠네요. 잘 부탁드립니다!</div>
                </div>
                <div class="row3-in-purple">
                    <div class="date-info">
                        <span>동행글 최종 수정일</span>
                        <span>2023-06-19</span>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="acc-apply-btn">동행신청</button>
                        <button type="button" class="acc-update-btn">수정</button>
                        <button type="button" class="acc-delete-btn">삭제</button>
                    </div>
                </div>
            </div>
            <!-- 동행글에 달리는 신청글 시작 -->
            <div class="applier-all">
                <span class="arrow-mark">↳</span>
                <div class="applier-purple-box">
                    <div class="applier-row1-in-purple">
                        <div class="applier-nickname">
                            박하젤리
                        </div>
                    </div>
                    <div class="applier-row2-in-purple">
                        <div class="applier-accompany-content"><p class="applier-content-header">저도 같이 갈래요!</p>저도 워킹맘이에요! 저도 주말에 밖에 나가는 것 너무 좋아합니다! 함께 가고 싶어요 ^^ 계란이랑 사이다 챙겨갈게요. 얼마만에 나들이 가는지 모르겠어요. 벌써부터 두근두근거리네요 ^^저도 워킹맘이에요! 저도 주말에 밖에 나가는 것 너무 좋아합니다! 함께 가고 싶어요 ^^ 계란이랑 사이다 챙겨갈게요. 얼마만에 나들이 가는지 모르겠어요. 벌써부터 두근두근거리네요 ^^</div>
                    </div>
                    <div class="applier-row3-in-purple">
                        <div class="applier-date-info">
                            <span>신청댓글 최종 수정일</span>
                            <span>2023-06-19</span>
                        </div>
                        <button type="button" class="applier-acc-update-btn">수정</button>
                        <button type="button" class="applier-acc-delete-btn">삭제</button>
                    </div>
                </div>
            </div>
            <div class="applier-all">
                <span class="arrow-mark">↳</span>
                <div class="applier-purple-box">
                    <div class="applier-row1-in-purple">
                        <div class="applier-nickname">
                            와사비캔디
                        </div>
                    </div>
                    <div class="applier-row2-in-purple">
                        <div class="applier-accompany-content"><p class="applier-content-header">저도 같이 갈래요!</p>저도 꼭 같이 가고 싶어요! 하얀솜사탕님이랑 박하젤리님이랑 함께 갈래요!</div>
                    </div>
                    <div class="applier-row3-in-purple">
                        <div class="applier-date-info">
                            <span>신청댓글 최종 수정일</span>
                            <span>2023-06-20</span>
                        </div>
                        <button type="button" class="applier-acc-update-btn">수정</button>
                        <button type="button" class="applier-acc-delete-btn">삭제</button>
                    </div>
                </div>
            </div>
            <!-- 동행글에 달리는 신청글 끝 -->
        </div>
        <!-- 동행글 한 개 끝 -->
        <div class="gray-box">
            <div class="purple-box">
                <div class="row1-in-purple">
                    <div class="nickname">
                        감초사탕
                    </div>
                    <div class="goal-number">
                        목표인원 <span>3명</span>
                    </div>
                    <div class="set-date">
                        동행시간 <span>2023.07.19.13:30~2023.07.19.16:30</span>
                    </div>
                </div>
                <div class="row2-in-purple">
                    <div class="accompany-content"><p class="content-header">이런 분을 구합니다!</p>저는 아무나 상관 없어요!</div>
                </div>
                <div class="row3-in-purple">
                    <div class="date-info">
                        <span>동행글 최종 수정일</span>
                        <span>2023-07-19</span>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="acc-apply-btn">동행신청</button>
                        <button type="button" class="acc-update-btn">수정</button>
                        <button type="button" class="acc-delete-btn">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>