<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!--내비바 아이콘 css -->
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--내비바 css  -->
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/backoffice-main.css">
    <script type="module" src="../static/js/navbar.js"></script>
    <script type="module" src="../static/js/backoffice-main.js"></script>
    <title>Document</title>
</head>

<body>
    <header></header>
    <div class="welcome-set">
        <h3 class="welcome-greeting">현재 로그인 된 아이디</h3>
        <h1 class="welcome-title" id="adminNickname">홈페이지 관리자 001</h1>
    </div>
    <div class="searching-set">
        <h2 class="title-show-exh">등록된 전시 목록입니다</h2>
        <div class="magnifier-img" id="searchButton"></div>
        <input class="searching-bar" id="search">
    </div>
    <div class="all-exhibitions-organizer" id="exhibitionList">
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination" id="paginationButton">
            <li class="page-item"><button type="button" class="page-link" id="previousPageButton">이전 페이지</button>
            </li>
            <li class="page-item"><button type="button" class="page-link" id="nextPageButton">다음 페이지</button></li>
        </ul>
    </nav>
    <button class="new-exh-button" id="exhibitionPosting">새로운 전시 등록하기</button>
</body>

</html>