<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!--내비바 아이콘 css -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--내비바 css  -->
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/exhibition-detail.css">
    <link rel="stylesheet" href="../static/css/review.css">
    <link rel="stylesheet" href="../static/css/review-posting.css">
    <link rel="stylesheet" href="../static/css/accompany.css">
    <link rel="stylesheet" href="../static/css/accompany-posting.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/accompany-apply-posting.css">
    <script type="module" src="../static/js/navbar.js"></script>
    <script type="module" src="../static/js/exhibition-detail.js"></script>
    <title>지금은 전시상황! | 상세보기</title>
</head>

<body>
    <header></header>
    <h1 class="welcome-title" id="title"></h1>
    <div class="all-items-organizer" id="exhibitionDetail">
        <div class="poster-n-info-organizer">
            <div class="mini-organizer">
                <div class="poster-part">
                    <img class="poster-img" id="posterImg" src="../static/img/default-img.jpg">
                </div>
                <div class="heart-set">
                    <div class="heart" id="heart"></div>
                    <span class="heart-num" id="heartNum"></span>
                </div>
            </div>
            <div class="info-part">
                <!--<span class="blue-words">전시명</span><span class="black-words"></span>-->
                <span class="blue-words">장소</span><span class="black-words" id="location"></span>
                <span class="blue-words">시작날짜</span><span class="black-words" id="startDate"></span>
                <span class="blue-words">종료날짜</span><span class="black-words" id="endDate"></span>
                <span class="blue-words">설명</span><span class="black-words" id="content"></span>
            </div>
        </div>
        <div class="btns">
            <button class="show-reviews" id="reviewBtn">이용 후기</button>
            <button class="show-accompanies" id="accompanyBtn">동행 구해요!</button>
            <button class="show-reservation" id="reserveBtn">예약하기</button>
        </div>
        <div class="rv-all-items-organizer" id="reviewList" style="display: none;">
            <!--review.html 파일에 있음-->
        </div>
        <div class="ac-all-items-organizer" id="accompanyList" style="display: none;">
            <!--accompany.html 파일에 있음-->
        </div>
    </div>
    <div class="recommend-organizer" style="display: none;">
        <h6 class="rec-intro">이런 전시는 어떠세요?</h6>
        <div class="recommend-organizer-small">
            <div class="one-by-one">
                <div class="rec-img-box">
                    <a href="" target="" id="1-rec-img-anchor">
                        <img class="rec-img" src="../static/img/default-img.jpg" id="1-rec-img">
                    </a>
                </div>
                <span class="rec-title" id="1-rec-title"></span>
            </div>
            <div class="one-by-one">
                <div class="rec-img-box">
                    <a href="" target="" id="2-rec-img-anchor">
                        <img class="rec-img" src="../static/img/default-img.jpg" id="2-rec-img">
                    </a>
                </div>
                <span class="rec-title" id="2-rec-title"></span>
            </div>
            <div class="one-by-one">
                <div class="rec-img-box">
                    <a href="" target="" id="3-rec-img-anchor">
                        <img class="rec-img" src="../static/img/default-img.jpg" id="3-rec-img">
                    </a>
                </div>
                <span class="rec-title" id="3-rec-title"></span>
            </div>
            <div class="one-by-one">
                <div class="rec-img-box">
                    <a href="" target="" id="4-rec-img-anchor">
                        <img class="rec-img" src="../static/img/default-img.jpg" id="4-rec-img">
                    </a>
                </div>
                <span class="rec-title" id="4-rec-title"></span>
            </div>
            <div class="one-by-one">
                <div class="rec-img-box">
                    <a href="" target="" id="5-rec-img-anchor">
                        <img class="rec-img" src="../static/img/default-img.jpg" id="5-rec-img">
                    </a>
                </div>
                <span class="rec-title" id="5-rec-title"></span>
            </div>
        </div>
    </div>
    <div class="footer" id="footer"></div>
    <script type="module" src="../static/js/footer.js"></script>
</body>
</html>
