<nav class="navbar navbar-expand-lg bg-light mb-5">
    <div class="container-fluid">
        <img src='static/img/logo.png'
      <a class="navbar-brand" href="/">지금은 전시상황</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-left">
        </ul>
        <ul class="navbar-nav ml-auto" id="navbar-right">
            <li class="nav-item" id="login-button">
                <a class="nav-link" id="category-button">카테고리</a>
            </li>
            <li class="nav-item" id="login-button">
              <a class="nav-link" href="../templates/signin.html" id="login-button">로그인</a>
            </li>
            <li class="nav-item" id="signup-button">
                <a class="nav-link" href="../templates/signup.html" id="signup-button">회원가입</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>