<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <title>지금은 전시상황! | 업데이트 내역</title>
</head>

<body>
    <h1>***2023-06-30 ~ 2023-07-07 업데이트 내역***</h1>
    <ul>
        <li>접근 권한 설정
            <ul>
                <li>전시 등록 페이지에 직접 접속 시 관리자가 아닌 경우 접속을 제한했습니다.</li>
                <li>회원 수정 페이지에 직접 접속 시 본인이 아닌 경우 접속을 제한했습니다.</li>
                <li>비회원이 좋아요 클릭 시 로그인 후 이용 가능하다는 알림창을 추가했습니다.</li>
            </ul>
        </li>
        <br>
        <li>메인페이지 & 백오피스 메인페이지
            <ul>
                <li>리뷰와 동행모집 글 개수를 확인할 수 있습니다.</li>
                <li>검색창에 안내 문구를 추가했습니다.</li>
                <li>전시 인기 랭킹 기능을 새롭게 추가했습니다.</li>
                <li>페이지네이션 기능에 페이지 숫자를 추가했습니다.</li>
            </ul>
        </li>
        <br>
        <li>상세 게시글
            <ul>
                <li>설명 부분에 더보기 기능 추가되었습니다.</li>
                <li>리뷰 또는 동행 글이 없는 경우 "게시글이 없습니다" 문구가 보입니다.</li>
                <li>하트 크기가 커졌습니다.</li>
                <li>동행 채택하기 기능을 새롭게 추가했습니다.</li>
                <li>전시 정보 글자 크기가 커졌습니다.</li>
            </ul>
        </li>
        <br>
        <li>마이페이지
            <ul>
                <li>유저아이디 -> 유저닉네임으로 수정됐습니다.</li>
                <li>성별 정보를 추가했습니다.</li>
                <li>소셜로그인 시 회원 정보 수정이 되지 않는 오류를 해결했습니다.</li>
            </ul>
        </li>
        <br>
        <li>상단바
            <ul>
                <li>날씨에 해당하는 지역 추가되었습니다.</li>
            </ul>
        </li>
        <br>
        <li>회원가입
            <ul>
                <li>구글 로그인 가능합니다.</li>
                <li>이메일 형식에 맞지 않을 경우 경고창이 뜹니다.</li>
                <li>입력값에 따른 경고창의 종류가 다양해졌습니다.</li>
            </ul>
        </li>
        <br>
        <li>로그인
            <ul>
                <li>아이디 입력 후 엔터 누르면 비밀번호 입력창으로 이동합니다.</li>
                <li>비밀번호 입력 후 엔터 누르면 로그인이 됩니다.</li>
                <li>로그인 시 원래 있던 페이지로 되돌아 갑니다.</li>
            </ul>
        </li>
        <br>
        <li>로그아웃
            <ul>
                <li>실수로 로그아웃 누를 경우를 방지하는 확인창을 추가했습니다.</li>
                <li>마이페이지에서 로그아웃 시 메인페이지로 이동합니다.</li>
            </ul>
        </li>
        <br>
        <li>회원탈퇴
            <ul>
                <li>회원 탈퇴 후 메인페이지로 이동합니다.</li>
            </ul>
        </li>
	</ul>
</body>

</html>