<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/review.css">
    <script type="module" src="../static/js/review.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="rv-all-items-organizer">
        <h1 class="rv-welcome-title">이 전시회 리뷰 목록</h1>
        <!-- 여기부터 카드 한 장 -->
        <div class="rv-gray-box">
            <div class="rv-img-box">
                <img class= "rv-review-img" src="" onerror="this.src='../static/img/default-img.jpg'">
            </div>
            <div class="rv-purple-box">
                <div class="rv-row1-in-purple">
                    <div class="rv-nickname-box">하얀솜사탕

                    </div>
                    <div class="rv-stars">
                        <img class="rv-star" src="../static/img/filled-star.png">
                        <img class="rv-star" src="../static/img/empty-star.png">
                        <img class="rv-star" src="../static/img/empty-star.png">
                        <img class="rv-star" src="../static/img/empty-star.png">
                        <img class="rv-star" src="../static/img/empty-star.png">
                    </div>
                </div>
                <div class="rv-row2-in-purple">
                    <div class="rv-review-content">십년만에 관람한 서울시립미술관 전시! 마침 미세먼지도 없고 날씨
                        가 너무 좋아서 훌륭한 나들이가 되었어요! SSG 광고가 에드워드 호퍼를 참고했다고 해서 관심이 생겨서 갔는데,
                        너무 만족스러운 전시였습니다 ^^</div>
                </div>
                <div class="rv-row3-in-purple">
                    <div class="rv-date-info">
                        <span>리뷰 최종 수정일</span>
                        <span>2023-06-19</span>
                    </div>
                    <button type="button" class="rv-review-update-btn">수정</button>
                    <button type="button" class="rv-review-delete-btn">삭제</button>
                </div>
            </div>
        </div>
        <!-- 여기까지 카드 한 장 -->
        <!-- 여기부터 카드 한 장 -->
        <div class="rv-gray-box">
            <div class="rv-img-box">
                <img class= "rv-review-img" src="" onerror="this.src='../static/img/default-img.jpg'">
            </div>
            <div class="rv-purple-box">
                <div class="rv-row1-in-purple">
                    <div class="rv-nickname-box">하얀솜사탕

                    </div>
                    <div class="rv-stars">
                        <img class="rv-star" src="../static/img/filled-star.png">
                        <img class="rv-star" src="../static/img/empty-star.png">
                        <img class="rv-star" src="../static/img/empty-star.png">
                        <img class="rv-star" src="../static/img/empty-star.png">
                        <img class="rv-star" src="../static/img/empty-star.png">
                    </div>
                </div>
                <div class="rv-row2-in-purple">
                    <div class="rv-review-content">십년만에 관람한 서울시립미술관 전시! 마침 미세먼지도 없고 날씨
                        가 너무 좋아서 훌륭한 나들이가 되었어요! SSG 광고가 에드워드 호퍼를 참고했다고 해서 관심이 생겨서 갔는데,
                        너무 만족스러운 전시였습니다 ^^</div>
                </div>
                <div class="rv-row3-in-purple">
                    <div class="rv-date-info">
                        <span>리뷰 최종 수정일</span>
                        <span>2023-06-19</span>
                    </div>
                    <button type="button" class="rv-review-update-btn">수정</button>
                    <button type="button" class="rv-review-delete-btn">삭제</button>
                </div>
            </div>
        </div>
        <!-- 여기까지 카드 한 장 -->
    </div>
</body>

</html>